<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="js/css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Личный кабиет</title>
    <script
            src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"
    ></script>
</head>
<body>
<header>
    <div class="logo">
        <a href="user_profile.html"><img class="graficlogo" src="img/logo.png" alt="Logo"></a>
    </div>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="header.html">Личный кабинет</a>
            <a href="my_tasks.html">Мои задания</a>
            <a href="konstruktor_adaniy.html">Создать задание</a>
            <a href="https://vk.com/im?media=&sel=-205429598&v=">Связаться с нами</a>
            <a href="konstruktor_adaniy.html">Выйти из системы</a>
        </div>
    </nav>
</header>
<div class="user">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><span></span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h1 class="lich">Личный кабинет</h1>
                </div>
                <div class="row mt-2">
                    <div class="name"><label class="labels"><h3>Имя</h3></label>
                        <p>Иван</p>
                    </div>
                    <div class="secname"><label class="labels"><h3>Фамилия</h3></label>
                        <p>Иванов</p>
                    </div>
                </div>
                <div class="role">
                    <div class="col-md-12"><label class="labels"><h3>Роль</h3></label>
                        <p>Учитель</p>
                    </div>
                <div class="groups">
                    <details>
                        <summary><h3>Состоит в группах:</h3></summary>
                            <p>11 Б</p>
                            <p>Педагогический совет</p>
                    </details>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>