<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                    <link rel="stylesheet"
                    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                    crossorigin="anonymous">
    <title>Title</title>
        <link rel="stylesheet" type="text/css" href="css/sidebar.css">
</head>
<body>
<div class="sidenav">
  <a style="color: white; font-family: Franklin Gothic Medium; margin-left: 7px" href="api/test/user_profile"><img src="img/logo.png"></a>
  <a style="color: white; font-family: Arial; margin-top: 25px; margin-left: 13px" href="#">Задания</a>
  <a style="color: white; font-family: Arial; margin-top: 670%; margin-left: 15%" href="/login">Выйти</a>
</div>
<div style="left: 25%;margin-left: 420px;position: absolute;width: 600px; margin-top: 150px;">
    <div class="card">
        <div class="card-header">
            <h2 style="text-align: center">Ваши задания</h2><div style="font-size: 24px" class="card_title"></div>
        </div>
    <a style="text-align: center" href="/my_tasks"><img src="img/your_tasks.png" alt="Письма мастера дзен"></a>
</div>
</div>
<div style="left: 25%;margin-left: 420px;position: absolute;width: 600px; margin-top: 450px;"> <br> <br> <br> <br> <br>
    <div class="card">
        <div class="card-header">
            <h2 style="text-align: center">Создать задание</h2><div style="font-size: 24px" class="card_title"></div>
        </div>
    <a style="text-align: center" href="/my_tasks"><img src="img/create_task.png" alt="Письма мастера дзен"></a>
    </div>
</div>
</body>
</html>