<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="js/css/user_profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Личный кабиет</title>
    <script
            src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"
    ></script>
</head>
<body>
<header>
    <div class="logo">
        <a href="user_profile.html"><img class="graficlogo" src="img/logo.png" alt="Logo"></a>
    </div>
    <nav>
        <div class="topnav" id="myTopnav">
            <a href="user_profile.html">Личный кабинет</a>
            <a href="my_tasks.html">Мои задания</a>
            <a href="konstruktor_adaniy.html">Создать задание</a>
            <a id="menu" href="#" class="icon">&#9776;</a>
        </div>
    </nav>
</header>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><span></span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Личный кабинет</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels"><h5>Имя</h5></label>
                        <p>Иван</p>
                    </div>
                    <div class="col-md-6"><label class="labels"><h5>Фамилия</h5></label>
                        <p>Иванов</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels"><h5>Роль</h5></label>
                        <p>Учитель</p>
                    </div>
                    <div class="col-md-12"><label class="labels"></label><details>
                        <summary>Классы:</summary>
                            <p>11 Б</p>
                        </details></div>
                </div>
                <div>
                    <details>
                        <summary>Мои задания:</summary>
                            <p>Русский язык. 11 Б. 29.10.2021</p>
                    </details>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script>
  void async function () {
    document.getElementById("user_name").innerHTML=JSON.parse(Cookies.get('current_user')).author_name;
    if (JSON.parse(Cookies.get('current_user')).role=="student")
      document.getElementById("user_role").innerHTML="Ученик";
    if (JSON.parse(Cookies.get('current_user')).role=="teacher")
      document.getElementById("user_role").innerHTML="Учитель"
    if (JSON.parse(Cookies.get('current_user')).role!="student")
      document.getElementById("user_form").setAttribute("style", "display: none");

    fetch(
                    '{{BACKEND_DOMAIN}}api/users/in_form/'+JSON.parse(Cookies.get('current_user')).id,
                    {
                        method: 'GET',
                        mode: 'cors', // no-cors, *cors, same-origin
                        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                        referrerPolicy: 'no-referrer', // *no-referrer, client
                    }
                ).then((response) => {
                        if (response.status !== 200) {
                            console.log(response.json())
                            // делайте что-то, сообщение какое-то о неправильных данных выводите, хз
                        } else {
                            return response.json();
                        }
                    }
                ).then((data) => {
                        console.log(data[0].form_id);
                        fetch(
                            '{{BACKEND_DOMAIN}}api/forms/get_form_by_id?form_id='+data[0].form_id,
                    {
                        method: 'GET',
                        mode: 'cors', // no-cors, *cors, same-origin
                        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                        referrerPolicy: 'no-referrer', // *no-referrer, client
                    }).then((data) => {
                        console.log(data);
                        return data.json();
                        }).then((data) => {
                            document.getElementById("user_form_student").innerHTML=data.name;
                            })
                    }
                )

    document.getElementById("user_created_at").innerHTML=moment(JSON.parse(Cookies.get('current_user')).created_at).format("YYYY-MM-DD");
  }();
</script>
</body>
</html>