<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                    <link rel="stylesheet"
                    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                    crossorigin="anonymous">
    <title>LK</title>
</head>
<body>
<div class="container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <div class="mt-3">
                      <h4 class="author-name">Имя пользователя</h4>
                        <p class="user-class text-secondary mb-1">Класс в котором ученик</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Имя пользователя:</h6>
                    </div>
                    <div class="author-name col-sm-9 text-secondary">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Класс:</h6>
                    </div>
                    <div class="classes col-sm-9 text-secondary">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Роль</h6>
                    </div>
                    <div class="role col-sm-9 text-secondary">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">В системе с:</h6>
                    </div>
                    <div class="created-at col-sm-9 text-secondary">
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
<script>
  void async function () {
    const userDataResponse = await fetch("{{BACKEND_DOMAIN}}api/auth/get_me", {
      credentials: "include",
    });

    if (!userResponse.ok) {
      // не получилось - можно вывести сообщение об ошибке
      return;
    }

    const userData = await userResponse.json();

    document.querySelectorAll(".author-name").forEach((element) => {
      element.textContent = userData.author_name;
    });

    document.querySelector(".role").textContent = userData.role;
    document.querySelector(".created-at").textContent = userData.created_at;

    const formResponse = await fetch(`{{BACKEND_DOMAIN}}api/forms/get_form_by_user_id?user_id=${userData.user_id}`, {
      credentials: "include",
    });

    if (!formResponse.ok) {
      // не получилось - можно вывести сообщение об ошибке
      return;
    }

    const formData = await formResponse.json();
    document.querySelector(".classes").textContent =
      formData.map(fd => fd.name).join(", ");
  }();
</script>
</body>
</html>