<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                    <link rel="stylesheet"
                    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                    crossorigin="anonymous">
    <title>Личный кабиет</title>
    <script
            src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"
    ></script>
</head>
<body>
<div style="left: 25%;margin-left: -200px;position: absolute;width: 1000px;">
  <h2>Имя пользователя:</h2><div class="d-inline" id="user_name"></div>
  <h4>Роль</h4><div id="user_role"></div> <br> <br>
  <a type="submit" class="btn btn-secondary" href="/my_tasks">Мои задания</a> <br> <br>
  <div id="user_form">
    <h5>Класс:</h5>
    <div id="user_form_student"></div>
  </div>
  <h4>В системе с:</h4>
  <div id="user_created_at"></div>
</div>
<script>
  void async function () {
    document.getElementById("user_name").innerHTML=JSON.parse(Cookies.get('current_user')).author_name;
    document.getElementById("user_role").innerHTML=JSON.parse(Cookies.get('current_user')).role;
    if (JSON.parse(Cookies.get('current_user')).role!="student")
      document.getElementById("user_form").setAttribute("style", "display: none");

    fetch(
                    '{{BACKEND_DOMAIN}}api/users/in_form/'+JSON.parse(Cookies.get('current_user')).id,
                    {
                        method: 'GET',
                        mode: 'cors', // no-cors, *cors, same-origin
                        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                        referrerPolicy: 'no-referrer', // *no-referrer, client
                    }
                ).then((response) => {
                        if (response.status !== 200) {
                            console.log(response.json())
                            // делайте что-то, сообщение какое-то о неправильных данных выводите, хз
                        } else {
                            return response.json();
                        }
                    }
                ).then((data) => {
                        console.log(data[0].form_id);
                        fetch(
                            '{{BACKEND_DOMAIN}}api/forms/get_form_by_id?form_id='+data[0].form_id,
                    {
                        method: 'GET',
                        mode: 'cors', // no-cors, *cors, same-origin
                        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                        referrerPolicy: 'no-referrer', // *no-referrer, client
                    }).then((data) => {
                        console.log(data);
                        return data.json();
                        }).then((data) => {
                            document.getElementById("user_form_student").innerHTML=data.name;
                            })
                    }
                )

    document.getElementById("user_created_at").innerHTML=moment(JSON.parse(Cookies.get('current_user')).created_at).format("YYYY-MM-DD HH:mm:ss");
  }();
</script>
</body>
</html>